{% extends 'base.html' %} {% load static %}
{% block titulo %}Sondeos{% endblock %}

{% block opcNavAdmin %}
    {# agregamos una opcion adicional a la barra de navegacion si es que la variable de session contiene el string A que significa Administrador  #}
    {% if autenticacion.3 == "A" %}
    <li class="nav-item">
        <a class="nav-link" href="#">Crear Sondeo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Esta en administrador</a>
    </li>
    {% endif %}
{% endblock %}
{% block opcNavAdmin2 %}
    {# agregamos la opcion Cerrar Sesion en caso de que este logueado  #}
    {% if autenticacion %}
        <div lass="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sondeo:cerrarSesion' %}">Cerrar Sesion</a>
            </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
{# --------------------------------desde aqui codigo del body ------------------------------------------------------------ #}
{% block body %}
    <h2>Bienvenido a sondeo.net {% if autenticacion %}{{ autenticacion.2 }}{% endif %}, ahora vamos a crear un nuevo sondeo</h2>

    
    
{% endblock %}