{% extends 'base.html' %} {% load static %}
{% block titulo %}Sondeos{% endblock %}

{# --------------------------------desde aqui codigo del body ------------------------------------------------------------ #}
{% block body %}
    <h2>Bienvenido a sondeo.net {% if autenticacion %}{{ autenticacion.2 }}{% endif %}, ahora vamos a crear un nuevo sondeo</h2>
    <div class="container">

        <form action="{% url 'sondeo:guardarSondeo'%}" method="post" class="bg-dark ">
            {% csrf_token %}
            <div class="row">
                <div class="col s12">
                    
                    <input type="text" name="administrador" hidden value="1">
    
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="asunto" type="text" name="asunto" class="validate" required>
                            <label for="asunto">Asunto De la Pregunta</label>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="input-field col s6">
                            <textarea name="descripcion" id="descripcion" cols="50" rows="10" class="validate"></textarea>
                            <label for="descripcion">Descripcion</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s6"> 
                            <label for="habilitado">¿Desea que este habilitado?</label></br></br>
                            <select class="form-select" id="habilitado" name="habilitado">
                                <option value="s">Si</option>
                                <option value="n">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">   
                        <div class="input-field col s6">
                            <input id="gp" name="gp" type="text" class="validate">
                            <label for="gp">Grupo poblacional al que pertenece</label>
                        </div>
    
                    </div>
                    <div class="row">   
                        <div class="input-field col s6">
                            <input id="comuna" name="comuna" type="text" class="validate">
                            <label for="comuna">Comuna a la que pertenece/label>
                        </div>
    
                    </div>
                    <div class="row">   
                        <div class="input-field col s6">
                            <input id="barrio" name="barrio" type="text" class="validate">
                            <label for="barrio">Barrio al que pertenece/label>
                        </div>
    
                    </div>
                    <div class="row">   
                        <div class="input-field col s6">
                            <input id="imagen" name="imagen" type="text" class="validate">
                            <label for="imagen">Escriba la url de la imagen</label>
                        </div>
    
                    </div>
    
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="edadMinima" type="number" name="edadMinima" class="validate">
                            <label for="edadMinima" value="0">edad Minima</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="edadMinima" type="number" name="edadMaxima" class="validate">
                            <label for="edadMinima" value="0">edad Maxima</label>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="tematica" name="tematica" type="text" class="validate">
                            <label for="tematica">Tematica</label>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="fechaPublicacion">fecha de publicacion del sondeo</label></br></br>
                            <input id="fechaPublicacion" type="datetime-local" name="fechaPublicacion" class="validate">
                            
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="input-field col s6">
                            
                            <label for="fechaFinPublicacion">fecha Final de la Publicacion</label></br></br>    
                            <input id="fechaFinPublicacion" type="datetime-local" name="fechaFinPublicacion" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="obligatorio">obligatorio</label></br></br>
                            <select class="form-select" id="obligatorio" name="obligatorio">
                                <option value="s">Si</option>
                                <option value="n">No</option>
                            </select>
                        </div>
                    </div>
    
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </div>
        </form>
    
    
    </div>
    
       
    
    
{% endblock %}