{% extends 'base.html' %} {% load static %}
{% block titulo %}Sondeos{% endblock %}

{# --------------------------------desde aqui codigo del body ------------------------------------------------------------ #}
{% block body %}
    <h2>Bienvenido a sondeo.net {% if request.session.autenticado %}{{ request.session.autenticado.2 }}{% endif %}</h2>

    {% if sondeos %}
        <div class="container">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Asunto </th>
                    <th>Descripcion</th>
                    <th>fecha</th>
                    <th>Respuestas</th>
                </tr>
            </thead>
            <tbody>
                {% for sondeito in sondeos %}
                <tr>
                    <td>{{ sondeito.asunto }}</td>
                    <td>{{ sondeito.descripcion }}</td>
                    <td>-</td>
                    <td><a href="{% url 'sondeo:mostrarRes' sondeito.idSondeos %}">Respuestas</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

    {% endif %}

    
    
{% endblock %}
{% block script %}{% endblock %}