{% extends 'base.html' %} {% load static %}
{% block titulo %}Sondeos{% endblock %}

{# --------------------------------desde aqui codigo del body ------------------------------------------------------------ #}
{% block body %}
    <h2>Bienvenido a sondeo.net {% if request.session.autenticado %}{{ request.session.autenticado.2 }}{% endif %}</h2>

    {% if sondeos %}
        <div class="container">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Asunto </th>
                    <th>Descripcion</th>
                    <th>fecha de creacion</th>
                    <th>fecha de Inicio</th>
                    <th>fecha Final</th>
                    <th>Respuestas</th>
                </tr>
            </thead>
            <tbody>
                {% if request.session.autenticado.0 == "A" %}
                    {% for sondeito in sondeos %}
                    <tr>
                        <td>{{ sondeito.asunto }}</td>
                        <td>{{ sondeito.descripcion }}</td>
                        <td>{{ sondeito.fechaCreacion }}</td>
                        <td>{{ sondeito.fechaPublicacion }}</td>
                        <td>{{ sondeito.fechaFinPublicacion }}</td>
                        <td><a href="{% url 'sondeo:mostrarRes' sondeito.idSondeos %}">Respuestas</a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    {# para los ciudadanos registrados y no registrados #}
                    {% for sondeito in sondeos %}
                        {#{% if fechaToday < fechaFinPublicacion %}#}
                            <tr>
                                <td>{{ sondeito.asunto }}</td>
                                <td>{{ sondeito.descripcion }}</td>
                                <td>{{ fechaToday }}</td>
                                <td>{{ sondeito.fechaPublicacion }}</td>
                                <td>{{ sondeito.fechaFinPublicacion }}</td>
                                <td><a href="{% url 'sondeo:mostrarRes' sondeito.idSondeos %}">Respuestas</a></td>
                            </tr>
                        
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        </div>

    {% endif %}

    
    
{% endblock %}
{% block script %}{% endblock %}